body {
    height: 100%;
    background: linear-gradient(0deg,#8a2be2,#ff0077);
}


h1 {
    font-size: 50px;
    text-align: center;
}

.a {
    margin: 5em 0;
    background: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22);
}

.a .b {
    font-size: 1.2em;
    background: #8a2be2;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.a p {
    padding: 15px 20px;
    margin: 0;
    color: #000000;
}

.b p {
    font-weight: bold;
}

.image {
    height: 200px;
    width: 100%;
    background: #000000;
}

